/* Medium Layout: 1280px. */
/* @media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
} */
/* Tablet Layout: 768px. */
/* @media only screen and (min-width: 768px) and (max-width: 991px) { 
  
} */
/* Mobile Layout: 320px. */
/* @media only screen and (max-width: 767px) { 

} */
/* Wide Mobile Layout: 480px. */
/* @media only screen and (min-width: 480px) and (max-width: 767px) { 

} */

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
.responsive {
  width: 100%;
  max-width: 100px;
  height: auto;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 991px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }

  .slideshow-container {
    height: fit-content;
  }
}

@media screen and (min-width: 1600px) {
  .portfolio-two-column {
    min-height: 232.5px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* .section-padding {
    padding-top: 2rem;
    padding-bottom: 6rem;
  } */

  .team-thumb {
    left: 0;
    width: auto;
  }

  .portfolio-two-column {
    height: auto !important;
    min-height: inherit;
    width: auto !important;
    min-width: inherit;
  }

  .portfolio .col-12 .portfolio-two-column:first-child {
    margin-bottom: 38px;
  }

  .logoH {
    position: fixed !important;
    top: -40%;
    right: -10%;
  }

  .hero {
    height: 40vh;
  }

  .custom-video {
    object-fit: cover;
    width: 100%;
    height: 40vh;
  }
}

@media screen and (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  .custom-video,
  .portfolio-detail-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  .sticky-wrapper {
    position: relative;
    bottom: 76px;
  }

}

@media screen and (max-width: 767px) {
  .portfolio-detail-title {
    font-size: 36px;
  }

  .service-content .service-item {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .portfolio-detail-title {
    font-size: 30px;
  }

  h1 {
    font-size: 30px;
  }

  .heroText p {
    font-size: 11px;
  }

  .service-content {
    padding-left: 0cm;
    padding-right: 0cm;
  }

  .photo-gallery a {
    height: 100px;
  }

  .photo-gallery a img {
    height: 100px;
  }

  .video-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .vid {
    height: 100px;
  }

  .vid video {
    height: 100px;
  }

  .contact-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .contact-box {
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;

  }

  .bg_services {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #myBtn {
    background-size: 20px 20px;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

}

@media screen and (max-width: 359px) {

  .section-padding {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .portfolio-detail-title {
    font-size: 22px;
  }

  h1 {
    font-size: 22px;
  }

  .heroText p {
    font-size: 9px;
  }

  .logoH {
    position: fixed;
    top: -40%;
    right: -10%;
  }

  .photo-gallery a {
    height: 70px;
  }

  .photo-gallery a img {
    height: 70px;

  }

  .bg_services {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #myBtn {
    justify-content: center;
    font-size: 15px;
    width: 40px;
    height: 40px;
  }

}